@mixin common-section-components {

    //==============================| COMMON COMPONENTS |==============================//

    &.dark-color {
        color: var(--color-12);
    }

    &.light-color {
        color: white;
    }

    &.brand-color-alt {
        color: var(--brand-color-alt);
    }

    &.brand-color {
        color: var(--brand-color);
    }

    &.rounded {
        // Whoever is going to maintain this, Im deeply sorry...

        &-top {
            &-right{
                .section-inner .color-bar-after {
                    border-top-right-radius: px-rem(130);
                }

                &.rev:not(.rev-no-bars), // If reversed content but not when not reversing bars
                &.rev-bars { // when only bars are reversed
                    .section-inner .color-bar-before {
                        border-top-right-radius: px-rem(130);
                    }

                    .section-inner .color-bar-after {
                        border-top-right-radius: 0;
                    }
                }
            }

            &-left{
                .section-inner .color-bar-before {
                    border-top-left-radius: px-rem(130);
                }

                &.rev:not(.rev-no-bars),
                &.rev-bars {
                    .section-inner .color-bar-before {
                        border-top-left-radius: 0;
                    }

                    .section-inner .color-bar-after {
                        border-top-left-radius: px-rem(130);
                    }
                }
            }
        }

        &-bottom {
            &-right{
                .section-inner .color-bar-after {
                    border-bottom-right-radius: px-rem(130);
                }

                &.rev:not(.rev-no-bars),
                &.rev-bars {
                    .section-inner .color-bar-before {
                        border-bottom-right-radius: px-rem(130);
                    }

                    .section-inner .color-bar-after {
                        border-bottom-right-radius: 0;
                    }
                }
            }

            &-left{
                .section-inner .color-bar-before {
                    border-bottom-left-radius: px-rem(130);
                }

                &.rev:not(.rev-no-bars),
                &.rev-bars {
                    .section-inner .color-bar-before {
                        border-bottom-left-radius: 0;
                    }

                    .section-inner .color-bar-after {
                        border-bottom-left-radius: px-rem(130);
                    }
                }
            }
        }
    }

    .section-inner {
        position: relative;

        > .color-bar-before,
        > .color-bar-after {
            position: absolute;
            @include props-val((top, right, bottom, left), 0);
        }

        > .color-bar-before {
            content: "";
            right: 100%;
            left: px-rem(-125);
        }

        > .color-bar-after {
            left: 100%;
            right: px-rem(-125);
        }

        .section-content,
        .section-content-two {
            .section-text {
                a {
                    text-decoration: underline;
                }
            }
        }

        .section-content {
            &.no-indent {
                padding-left: 0;
            }

            &.top-small-indent {
                padding-top: px-rem(63);
            }

            .section-link {
                font-size: px-rem(14);
                font-weight: 500;
                text-decoration: underline;
                text-transform: uppercase;
                letter-spacing: px-em(1.4, 14);
            }
        }

        .section-image {
            img {
                width: 100%;
                border-radius: 0 0 0 px-rem(300);
            }
        }

        .section-content-two {
            border-radius: 0 0 0 px-rem(200);
        }
    }

    &.rev-bars {
        .section-inner {

            > .color-bar-before {
                content: "";
                left: 100%;
                right: px-rem(-125);
            }

            > .color-bar-after {
                right: 100%;
                left: px-rem(-125);
            }
        }
    }

    &.rev {
        .section-inner {

            > .color-bar-before {
                content: "";
                left: 100%;
                right: px-rem(-125);
            }

            > .color-bar-after {
                right: 100%;
                left: px-rem(-125);
            }

            > .flex {
                flex-flow: column-reverse;

                @include at-least($mobile) {
                    flex-flow: row-reverse;
                } 
            }

            .section-content-two,
            .section-image {
                img {
                    border-radius: 0 0 px-rem(300) 0;
                }
            }

            .section-content-two {
                border-radius: 0 0 px-rem(200) 0;
            }
        }
    }

    &.rev-no-bars {
        .section-inner {

            > .color-bar-before {
                content: "";
                right: 100%;
                left: px-rem(-125);
            }
    
            > .color-bar-after {
                left: 100%;
                right: px-rem(-125);
            }
        }
    }

    &.extend-image {
        .section-inner {
            
            .section-image {
                position: relative;
                margin-right: px-rem(-125);
            }
        }

        &.rev {
            .section-inner {
                .section-image {
                    margin-right: 0;
                    margin-left: px-rem(-125);
                }
            }
        }
    }
}

header {
    @include common-section-components;

    //==============================| PAGE-HEADER |==============================//

    &.page-header {
        color: #fff;

        &.no-ribbon {
            .section-inner {
                .section-content,
                .section-image {
                    &:before,
                    &:after {
                        display: none;
                    }
                }
            }
        }

        &.full-width-ribbon {
            .section-inner {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    @include props-val((top, bottom), 0);
                    @include props-val((right, left), px-rem(-125));
                    background-image: url(../../images/hero-horizontal-ribbon.svg);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    z-index: 1;
                }

                > *:not([class*=color-bar]) {
                    position: relative;
                    z-index: 2;
                }
            }
        }

        .section-inner {
            display: flex;
            min-height: px-rem(865);
            background-color: var(--brand-color-alt);

            .flex-24 {
                position: relative;

                .section-content,
                .section-image {
                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        @include props-val((top, right, bottom, left), 0);
                        background-size: contain;
                        background-repeat: no-repeat;
                        pointer-events: none;
                    }
                }

                .section-content {
                    display: flex;
                    height: 100%;
                    align-items: center;
    
                    &:after {
                        background-image: url(../../images/hero-ribbon-1.svg);
                        background-position: right;
                    }

                    .section-title {
                        font-weight: 500;
                        line-height: px-em(70, 75);
                        margin-bottom: px-em(37 + 21, 75);
                    }

                    .section-text {
                        font-weight: 400;
                        line-height: px-em(38, 30);
                        max-width: px-em(590, 30);
                    }
                }
    
                .section-image {
                    width: 100%;
                    margin: 0;
    
                    &:before {
                        right: px-rem(-125);
                        z-index: 1;
                        background-image: url(../../images/hero-ribbon-3.svg);
                        background-position: left;
                        background-size: auto 100%;
                    }
    
                    &:after {
                        z-index: 3;
                        background-image: url(../../images/hero-ribbon-2.svg);
                        background-position: left;
                    }

                    img {
                        position: relative;
                        z-index: 2;
                        width: 100%;
                        border-radius: 0 0 0 px-rem(300);
                        opacity: 1;
                        max-height: calc(100% - var(--header-height));
                    }
                }
            }
        }
    }
}

section {
    @include common-section-components;

    //==============================| row-list |==============================//
    
    &.row-list {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: px-rem(434);

        &.with-bg {
            .section-inner {
                padding: px-rem(140) px-rem(120) px-rem(190) 0;

                .section-content {
                    text-align: left;
    
                    .section-title {
                        text-align: center;
                        margin: auto;
                        margin-bottom: px-em(75, 70);
                        max-width: px-rem(575);
                        color: var(--color-9);
                    }
    
                    .row-list {
                        display: flex;
                        margin-left: 2em;
                    }
                }
            }
        }

        .section-inner {
            .section-content {
                text-align: center;
    
                .section-title {
                    text-transform: uppercase;
                    letter-spacing: px-em(1.15, 33);
                    margin-bottom: px-em(43, 23);
                }
    
                .row-list {
                    display: flex;
                    margin-left: 2em;
    
                }
            }
        }
    }

    //==============================| TEXT-IMAGE |==============================//

    &.text-image {
        overflow: hidden;

        &.has-badge {
            .section-inner {
                .section-image {
                    position: relative;

                    .badge {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        &.rev {
            .section-inner {
    
                .section-content {
                    padding-top: px-rem(122);
                    padding-left: px-rem(121);
                    height: 100%;
    
                    .section-title {
                        font-weight: 500;
                        line-height: px-em(70, 70);
                        margin-bottom: px-em(42 + 22, 75);
                    }
    
                    .section-text {
                        font-size: px-rem(30);
                        font-weight: 400;
                        max-width: px-rem(350);
    
                        margin-bottom: px-em(34 + 10.5, 31);
    
                        &.special {
                            max-width: px-rem(396);
                            font-size: px-rem(45);
                            font-weight: 500;
                            line-height: px-em(55, 45);
                            color: var(--color-9);
                        }
                    }
                }
            }
        }

        .section-inner {

            .section-content {
                padding-top: px-rem(127);
                padding-left: px-rem(62);
                height: 100%;

                .section-title {
                    font-weight: 500;
                    line-height: px-em(70, 70);
                    margin-bottom: px-em(42 + 22, 75);
                }

                .section-text {
                    font-size: px-rem(30);
                    font-weight: 400;
                    max-width: px-rem(350);

                    margin-bottom: px-em(34, 31);

                    &.special {
                        max-width: px-rem(396);
                        font-size: px-rem(45);
                        font-weight: 500;
                        line-height: px-em(55, 45);
                        color: var(--color-9);
                    }
                }
            }
        }
    }

    //==============================| DOUBLE-TEXT |==============================//

    &.double-text {
        .section-inner {
            .section-content {
                padding: px-rem(122) px-rem(100) px-rem(200) 0;
                
                .section-title {
                    margin-bottom: px-em(42, 70);
                    color: var(--brand-color-alt);
                }

                .section-text {
                    font-size: px-rem(33);
                    line-height: px-em(40, 33);
                    color: var(--brand-color-alt);
                }
            }
            .section-content-two {
                height: 100%;
                padding: px-rem(126) px-rem(250) px-rem(200) px-rem(126);
                
                .section-title {
                    margin-bottom: px-em(42, 70);
                    color: var(--color-9);
                }

                .section-text {
                    font-size: px-rem(28);
                    line-height: px-em(40, 33);
                    color: white;
                }
            }
        }
    }

    //==============================| RESOURCE-LIST |==============================//

    &.resources-type-2,
    &.resource-list {
        padding: px-rem(124) 0;
        color: #fff;

        .section-inner {
            position: relative;
            padding-left: px-rem(68);

            .section-content {
                padding-top: px-rem(73.67);
                padding-bottom: px-rem(18);

                .section-title {
                    line-height: px-em(70, 70);
                    margin-bottom: px-em(49 + 25, 70);
                }
            }

            .ribbon-stamp {
                position: relative;
                width: 100%;

                &:before {
                    content: "";
                    position: absolute;
                    top: px-rem(-124);
                    right: 0;
                    bottom: px-rem(-124);
                    left: 0;
                    background-image: url(../../images/ribbon-vertical.svg);
                    background-repeat: no-repeat;
                    background-size: 85% 100%;
                }

                .badge-link {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    //==============================| RESOURCE-LIST |==============================//

    &.cards-list {
        .section-inner {
            position: relative;
            padding: px-rem(120) px-rem(120) px-rem(126) 0;

            &:before {
                content: "";
                position: absolute;
                @include props-val((top, right, bottom), 0);
                left: px-rem(-125);
                z-index: 1;
                background-image: url(../../images/ribbon-corner.svg);
                background-position: top right;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .section-content {
                position: relative;
                z-index: 2;

                .section-title {
                    width: px-em(520, 70);
                    line-height: px-em(70, 70);
                    margin: px-em(74, 70) 0;
                    color: white;
                }
            }
        }
    }

    &.resources-type-2 {
        padding: 0;

        .section-inner {
            padding-bottom: px-rem(80);

            .section-title {
                font-size: px-rem(45);
                line-height: px-em(55, 45);
                margin-bottom: px-em(22, 45);
            }

            .section-text {
                margin-bottom: px-em(28, 30)
            }

            .cards-container,
            .links-container {
                margin-right: px-rem(120);
            }
            
            .links-container {
                position: relative;
                padding: px-rem(13.16) 0;
                margin-top: px-rem(80);
    
                &:before {
                    content: "";
                    position: absolute;
                    @include props-val((top, bottom), 0);
                    left: px-rem(-125 + -68);
                    right: px-rem(-120);
                    background-image: url(../../images/ribbon-horizontal.svg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    //==============================| ACCREDITATIONS |==============================//

    &.accreditations {
        color: var(--color-6);
        overflow: hidden;

        .section-inner {
            padding-bottom: px-rem(140);

            .section-title {
                color: var(--color-6);
                font-weight: 500;
                padding-top: px-rem(122);
                margin-left: px-rem(53);
                margin-bottom: px-em(44.5 + 42, 70);
            }

            .section-content {
                margin-left: px-rem(53);
                height: 100%;

                .section-text {
                    font-size: px-rem(30);
                    font-weight: 400;

                    margin-bottom: px-em(34, 30);
                }
            }
            
            .section-accred {
                padding-right: px-rem(180);
                padding-left: px-rem(90);

                .group-title {
                    font-size: px-rem(30);
                    line-height: px-em(36, 30);
                    font-weight: 500;
                    margin-bottom: px-em(15, 30);
                }

                .accred-list {
                    position: relative;
                    margin-bottom: px-rem(40);

                    &:before {
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: var(--flex-gutter);
                        right: var(--flex-gutter);
                        border-bottom: solid px-rem(1) var(--color-11);
                    }

                    &:last-child {
                        padding-bottom: 0;
                        margin-bottom: 0;

                        &:before {
                            border-bottom: none;
                        }
                    }

                    .flex-24 {
                        &:nth-child(3n - 2) {
                            .accred-item {
                                justify-content: flex-start;
                            }
                        }
                        &:nth-child(3n) {
                            .accred-item {
                                justify-content: flex-end;
                            }
                        }
                    }
                }
            }
        }
    }

    //==============================| CONTACT-FORM |==============================//

    &.contact-form {
        color: #fff;
        overflow: hidden;

        &.one-col {
            .section-inner {
                color: var(--brand-color-alt);

                .section-content {
                    padding-left: 0;
                    max-width: px-rem(930);
                    height: auto;

                    .section-title {
                        margin-left: 0;
                        margin-bottom: px-em(42, 70);
                    }

                    .section-text {
                        font-size: px-rem(33);
                        line-height: px-em(40, 30);
                        font-weight: 400;
                        margin-bottom: px-em(52 - 35, 33);
                    }
                }

                .section-form {
                    margin-left: 0;
                    max-width: px-rem(880);

                    label {
                        color: var(--brand-color-alt);
                    }
                }
            }
        }

        .section-inner {
            position: relative;
            padding: px-rem(64) px-rem(68);
            min-height: px-rem(790);

            &:before {
                content: "";
                position: absolute;
                @include props-val((top, right, bottom, left), 0);
                z-index: 1;
                background-image: url(../../images/contact-ribbon.svg);
                background-position: right;
                background-size: contain;
                background-repeat: no-repeat;
            }

            > *:not([class*=color-bar]) {
                position: relative;
                z-index: 2;
            }

            .section-title {
                font-weight: 500;
                margin: 0;
                max-width: px-em(710, 70);
                line-height: px-em(70, 70);
            }
            
            .section-content {
                padding-top: px-rem(37 + 38);
                height: 100%;

                .section-text {
                    font-size: px-rem(31);
                    font-weight: 400;

                    margin-bottom: px-em(34, 31);

                    ul {
                        margin: 0;
                        padding-left: px-em(26 + 19, 30);

                        li {
                            position: relative;
                            margin-bottom: px-em(12, 30);

                            &:before {
                                content: "";
                                position: absolute;
                                top: 0;
                                right: calc(100% + px-em(26, 30));
                                transform: translate(0, 50%);
                                width: px-em(19, 30);
                                height: px-em(19, 30);
                                background-color: #fff;
                                border-radius: 100%;
                            }
                        }
                    }
                }

                .section-link {
                    font-size: px-rem(14);
                    font-weight: 500;
                    text-decoration: underline;
                    text-transform: uppercase;
                    letter-spacing: px-em(1.4, 14);
                }
            }

            .section-form {
                padding-top: px-rem(37 + 38);
                margin-left: px-rem(35);

                .form-title {
                    font-weight: 500;
                }

                .wpcf7 {
                    max-width: px-rem(580);
                }
            }
        }
    }

    //==============================| SECTION END |==============================//
}

