$icons-font: "icons";

@font-face {
    font-family: $icons-font;
    src: url("../../fonts/icons.ttf?122336838e9f4814ba9a34537dcaf42d") format("truetype"),
url("../../fonts/icons.woff?122336838e9f4814ba9a34537dcaf42d") format("woff"),
url("../../fonts/icons.woff2?122336838e9f4814ba9a34537dcaf42d") format("woff2");
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
    "inverted": "\f101",
    "reset": "\f102",
);

.icon-inverted:before {
    content: map-get($icons-map, "inverted");
}
.icon-reset:before {
    content: map-get($icons-map, "reset");
}
