/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.centre-view {
    margin: 0 auto;
    max-width: var(--centre-view-width);
    width: 100%;

    @include at-least($mobile) {
        padding: 0;
    }

    .full-width-override {
        margin-left: calc(((100vw - #{var(---centre-view-width)}) / 2) * -1);
        margin-right: calc(((100vw - #{var(---centre-view-width)}) / 2) * -1);
    }
    
    &.small {
        max-width: var(---centre-view-width-small);
    }
}



  /////////////////////
 // Page scroll bar //
/////////////////////

// Scroll bar dimensions
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.gwssc-container-inner::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
// Scroll bar track
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 20px;
}

.gwssc-container-inner::-webkit-scrollbar-track {
    background-color: #000;
    border-radius: 20px;
}
  
// Scroll bar track
body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 0px;
}

// Scroll bar handle
::-webkit-scrollbar-thumb {
    background-color: var(--brand-color); 
    border: 3px solid #f1f1f1;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.gwssc-container-inner::-webkit-scrollbar-thumb {
    background-color: #3b0000; 
    border: 2px solid #000;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

// Scroll bar handle:hover
::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

/*** Works on common browsers ***/
::selection {
    background-color: var(--brand-color);
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: var(--brand-color);
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: var(--brand-color);
    color: #fff;
}

::-ms-selection {
    background-color: var(--brand-color);
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: var(--brand-color);
    color: #fff;
}
