stages:
  - dependency_analysis
  - build
  - deploy

include:
  - remote: "https://gitlab.griffin-studio.dev/external-projects/ci-templates/-/raw/main/DC.gitlab-ci.yml"

build:
  image: node
  stage: build
  cache:
    paths:
      - node_modules/
  script:
    - npm install
    - npm run build
  artifacts:
    paths:
      - build

# test:
#  stage: test
#  cache:
#    paths:
#      - node_modules/
#    policy: pull
#  script:
#    - npm run test

pages:
  stage: deploy
  dependencies:
    - build
  script:
    - rm -rf public
    - cp build/index.html build/404.html
    - mv build public
  artifacts:
    paths:
      - public
  only:
    - main
