## Griffin Studio Limited ##

# This document specifies the file types that should not be checked into the git repo
package-lock.json


# Ignore Mac DS_Store files if they so happen to exist
.DS_Store
dist/

# Ignore node modules (These are not requierd in "production run" stage)
node_modules

# Ignore Sass Cache
**/.sass-cache
**/.sass-cache/*


# If you previously had this project undr version control with subversion - this will ignore all subversion files
.svn
.project
