.row-list-item {
    font-size: px-rem(57);
    line-height: px-em(60, 57);
    margin: 0 auto;
    //margin-right: px-em(169, 57);
    font-family: var(--font-family-ihnfcwti);
    max-width: px-em(340, 57);
    color: var(--brand-color-alt);

    &::marker {
        font-size: px-rem(70);
        max-width: px-em(42, 70);
        margin-right: px-em(14, 70);
        color: var(--color-3);
    }

    .row-list.with-bg & {
        font-size: inherit; //30px- in vw
        line-height: px-em(36, 30);
        margin-right: px-em(74, 30);
        font-family: var(--font-family);
        max-width: px-em(280, 30);
        color: white;

        &::marker {
            font-size: px-rem(40);
            max-width: px-em(36, 40);
            margin-right: px-em(125, 40);
            color: var(--color-9);
            font-weight: 500;
        }
    }
}

.badge-link {
    position: relative;
    width: px-rem(335);
    padding-top: px-rem(335);

    &.yellow {
        > a > .ribbon-link-inner {
            background-color: var(--color-9);
            color: var(--brand-color-alt);
        }
    }

    > a {
        > .ribbon-link-inner {
            position: absolute;
            @include props-val((top, right, bottom, left), 0);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: px-em(40, 72);
            border-radius: 100%;
            text-align: center;

            font-family: var(--font-family-ihnfcwti);
            font-size: px-rem(72);
            line-height: px-em(56, 72);
            background-color: var(--brand-color);
        }
    }
}

.item-resource {
    .resource-tag {
        display: inline-block;
        padding: 0 px-em(39, 27);
        border-radius: px-em(50, 27);
        margin-bottom: px-em(28, 27);

        line-height: px-em(51, 27);
        font-weight: 500;
        text-transform: uppercase;
        background-color: var(--color-9);
        color: var(--color-6);
    }

    .resource-excerpt {
        max-width: px-em(720, 37);
        margin-bottom: px-em(100, 37);

        font-size: px-rem(37);
        line-height: px-em(45, 37);
        font-weight: 500;

        a {
            color: var(--color-9);
            text-decoration: underline;

            &:hover {
                color: var(--brand-color);
            }
        }
    }
}

.item-resource-card {
    font-size: px-rem(33);
    line-height: px-em(36, 33);
    font-weight: 500;
    background-color: var(--color-9);
    padding: px-rem(56) px-rem(66);
    color: var(--text-color);

    &.white {
        background-color: white;
        color: var(--brand-color-alt);
    }

    &.rounded {
        &-top {
            &-right{
                border-top-right-radius: px-rem(100);
            }

            &-left{
                border-top-left-radius: px-rem(100);
            }
        }

        &-bottom {
            &-right{
                border-bottom-right-radius: px-rem(100);
            }

            &-left{
                border-bottom-left-radius: px-rem(100);
            }
        }
    }

    a {
        text-decoration: underline;
    }
}

.accred-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: px-rem(30) 0;
    height: 100%;
    width: 100%;

    img {
        max-height: px-rem(123);
        max-width: px-rem(250);
    }
}