.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
    float: right;
    margin-left: px-rem(4);
    width: 3rem;
    height: auto;
    box-shadow: none;
}

header.site-header {
    .cart-status {

        &:before {
            content: "";
            position: fixed;
            @include props-val((top, right, bottom, left), 0);
            pointer-events: none;
            background-color: rgba(0, 0, 0, 0);
            transition: all 0.3s ease-in-out;
        }

        .woocommerce-mini-cart {
            opacity: 0;
            transform: translateX(0);
            pointer-events: none;
    
            @include at-least($l-mobile) {
                transform: translateX(100%);
            }
        }
    
        &.open {

            &:before {
                background-color: var(--pref-color-AU);
            }

            .woocommerce-mini-cart {
                opacity: 1;
                transform: translateY(0);
                pointer-events: all;
            }
        }
    }

    .cart {
        line-height: 1;
    
        .woocommerce-mini-cart {
            display: flex;
            flex-flow: column;
            align-items: stretch;
            justify-content: space-between;
            position : fixed;
            @include props-val((top, right, bottom), 0);
            z-index: 9;
            z-index: 999;
            width: px-em(400, 16);
            padding: px-em(20, 16);
            font-size: px-rem(16) !important;
            background-color: #fff;
            color: var(--pref-color-RV);
            white-space: nowrap;
            transition: all 0.3s ease-in-out;
            font-family: var(--font-family);
    
            @include until($mobile) {
                left: 0;
                min-width: 100%;
                max-width: 100%;
                width: 100%;
            }
    
            a {
                font-size: var(--font-size);
            }
            
            .cart-top-group {
                .cart-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: px-rem(20);
                    border-bottom: px-rem(1) solid;
                    margin-bottom: px-rem(20);

                    .cart-title {
                        text-transform: uppercase;
                    }

                    .cart-link {
                        font-size: px-rem(22);
                    }
                }
                .cart-body .cart_list {
                    padding-right: 0;
                }
            }
    
            .cart_list {
                list-style: none;
                padding: 0 px-rem(10) 0 0;
                max-height: px-rem(400);
                overflow-y: auto;
                width: 100%;
                margin: 0;
                margin-bottom: px-rem(10);
    
                @include until($mobile) {
                    max-height: none;
                    overflow-y: visible;
                }
    
                .mini_cart_item {
                    padding: px-rem(10) 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: px-rem(1) solid;

                    @include until($s-tablet) {
                        flex-flow: row wrap;
                    }

                    &:first-child {
                        padding-top: 0;
                    }
                    
                    .remove {
                        display: inline-block;
                        position: relative;
                        color: transparent !important;
                        border-radius: 100%;
                        width: px-rem(30);
                        height: px-rem(30);
                        font-weight: 600;
                        text-align: center;

                        &:before {
                            content: "\2573" !important;
                            position: absolute;
                            @include props-val((top, right, bottom, left), 0);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: px-rem(10);
                            color: #fff !important;

                            @include at-least($l-mobile) {
                                font-size: 0.5em;
                            }
                        }
    
                        &:hover {
                            background-color: red;
                        }
                    }
    
                    a:not(.remove) {
                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        margin: 0 px-rem(20);
                        margin-right: px-rem(40);
                        font-size: 0.7rem;
                        white-space: normal;

                        > img {
                            max-width: 3rem;
                            margin-right: 1rem;
                        }
                        
                    }
    
                    .variation {
                        display: none;
                    }
    
                    .quantity {
                        margin-left: auto;
                    }
                }
            }

            .woocommerce-mini-cart__total {
                display: flex;
                justify-content: space-between;
                padding-top: px-rem(20);
                border-top: px-rem(1) solid;
                margin-top: px-rem(20);
                text-align: center;
            }
    
            .woocommerce-mini-cart__buttons {
                margin: 0;
                
                a {
                    display: block;
                    margin-bottom: px-em(10, 10);
                    padding: px-em(10, 10) px-em(20, 10);
                    line-height: 1;
                    font-size: px-rem(10);
                }
            }
        }
    }
}

body.woocommerce-cart {
    @include until($mobile) {
        .woocommerce-cart-form__cart-item.cart_item {
            .quantity {
                display: inline-block;
                float: none;
            }
        }
    }
}