$icons-font: "icons";

@font-face {
    font-family: $icons-font;
    src: url("../../fonts/icons.ttf?b099acef5bf15ee814c941a1589e28e9") format("truetype"),
url("../../fonts/icons.woff?b099acef5bf15ee814c941a1589e28e9") format("woff"),
url("../../fonts/icons.woff2?b099acef5bf15ee814c941a1589e28e9") format("woff2");
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
    "account": "\f101",
    "cart": "\f102",
    "cross": "\f103",
    "facebook": "\f104",
    "filter": "\f105",
    "instagram": "\f106",
    "linkedin": "\f107",
    "logo": "\f108",
    "mailto": "\f109",
    "pinterest": "\f10a",
    "search": "\f10b",
    "tel": "\f10c",
    "twitter": "\f10d",
    "youtube": "\f10e",
);

.icon-account:before {
    content: map-get($icons-map, "account");
}
.icon-cart:before {
    content: map-get($icons-map, "cart");
}
.icon-cross:before {
    content: map-get($icons-map, "cross");
}
.icon-facebook:before {
    content: map-get($icons-map, "facebook");
}
.icon-filter:before {
    content: map-get($icons-map, "filter");
}
.icon-instagram:before {
    content: map-get($icons-map, "instagram");
}
.icon-linkedin:before {
    content: map-get($icons-map, "linkedin");
}
.icon-logo:before {
    content: map-get($icons-map, "logo");
}
.icon-mailto:before {
    content: map-get($icons-map, "mailto");
}
.icon-pinterest:before {
    content: map-get($icons-map, "pinterest");
}
.icon-search:before {
    content: map-get($icons-map, "search");
}
.icon-tel:before {
    content: map-get($icons-map, "tel");
}
.icon-twitter:before {
    content: map-get($icons-map, "twitter");
}
.icon-youtube:before {
    content: map-get($icons-map, "youtube");
}
