$icons-font: "icons";

@font-face {
    font-family: $icons-font;
    src: url("/assets/fonts/icons.ttf?78a9180ff7a8fecd5eb797e192617953") format("truetype"),
url("/assets/fonts/icons.woff?78a9180ff7a8fecd5eb797e192617953") format("woff"),
url("/assets/fonts/icons.woff2?78a9180ff7a8fecd5eb797e192617953") format("woff2");
}

$icons-map: (
    "reset": "\f101",
    "reset-bold": "\f102",
    "inverted": "\f103",
    "focus-top": "\f104",
    "focus-bottom": "\f105",
    "apple-share": "\f106",
);

.icon-reset:before {
    content: map-get($icons-map, "reset");
}
.icon-reset-bold:before {
    content: map-get($icons-map, "reset-bold");
}
.icon-inverted:before {
    content: map-get($icons-map, "inverted");
}
.icon-focus-top:before {
    content: map-get($icons-map, "focus-top");
}
.icon-focus-bottom:before {
    content: map-get($icons-map, "focus-bottom");
}
.icon-apple-share:before {
    content: map-get($icons-map, "apple-share");
}
