.footer {
    background-color: var(--brand-color-alt);
    color: #fff;

    .footer-inner {
        padding: px-rem(92) 0;

        .Widget{
            font-size: px-rem(22);
            font-weight: 300;

            &.Widget--footer{

                &.widget_block{
                    h1,h2,h3,h4,h5,h6,h1,.h1,.h2,.h3,.h4,.h5,.h6 {
                        text-transform: uppercase;
                        font-weight: 600;
                    }

                    h6 {
                        margin-bottom: px-em(36, 18);
                    }

                    .social-icons {
                        font-size: px-rem(25);
                        padding: 0;
                        margin-top: px-em(-10, 25);
                        margin-left: px-em(10, 25);
                        list-style: none;
                        max-width: px-em(178, 25);
                    }
                }

                &.widget_nav_menu {
                    .menu {
                        margin: 0;
                        line-height: px-em(35, 22);
                    }
                }
            }
        }
    }

    .bottom-bar {
        display: flex;
        align-items: center;
        font-size: px-rem(16);
        min-height: px-rem(40);
        color: var(--pref-color-WT);

        .footer-credits {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            margin: 0;
    
            @include at-least($l-tablet) {
                align-items: flex-end;
                flex-flow: row wrap;
            }

            .smallprint {
                padding-bottom: px-rem(20);
    
                @include at-least($l-tablet) {
                    padding-bottom: 0;
                }
            }
        }

        .design-by-gws {
            a {
                text-decoration: underline;
            }
        }
    }
}
