@use "sass:math";

/**
 * ========== ABSTRACTS
 *
 * all Sass tools and helpers used across the project.
 * Every global variable, function, mixin and placeholder should be put in here.
 */
@import "abstracts/+abstracts";
/**
 * ============================================================
 */



// /**
//  * ========== VENDORS
//  *
//  * The CSS files from external libraries and frameworks
//  */
// @import "vendors/+vendor";
// /**
//  * ============================================================
//  */



// /**
//  * ========== FRAMEWORK
//  *
//  * all Sass tools and helpers used across the project.
//  * Every global variable, function, mixin and placeholder should be put in here.
//  */
@import "frameworks/+frameworks";
// /**
//  * ============================================================
//  */



// /**
//  * ========== BASE
//  *
//  * The boilerplate code for the project. In there, you might find some typographic
//  * rules, and probably a stylesheet defining some standard styles for commonly
//  * used HTML elements.
//  *
//  */
@import "base/+base";
// /**
//  * ============================================================
//  */



// /**
//  * ========== LAYOUT
//  *
//  * Everything that takes part in laying out the site or application.
//  * This folder could have stylesheet for the main parts of the site (header,
//  * footer, navigation, sidebar…), the flexbox or even CSS styles
//  * for all the forms.
//  */
// @import "layout/+layout";
// /**
//  * ============================================================
//  */



// /**
//  * ========== COMPONENTS
//  *
//  * For smaller components, there is the "components" folder.
//  * While layout/ is macro (defining the global wireframe), components/ is more
//  * focused on widgets. It contains all kind of specific modules like a slider,
//  * a loader, a widget, and basically anything along those lines. There are usually
//  * a lot of files in components/ since the whole site/application should be mostly
//  * composed of tiny modules.
//  */
// @import "components/+components";
// /**
//  * ============================================================
//  */



// /**
//  * ========== WooCommerce
//  *
//  * For smaller components, there is the "components" folder.
//  * While layout/ is macro (defining the global wireframe), components/ is more
//  * focused on widgets. It contains all kind of specific modules like a slider,
//  * a loader, a widget, and basically anything along those lines. There are usually
//  * a lot of files in components/ since the whole site/application should be mostly
//  * composed of tiny modules.
//  */
// @import "woocommerce/+woocommerce";
// /**
//  * ============================================================
//  */



// /**
//  * ========== Animations
//  *
//  * Any CSS animations such as those that use @keyframes should be stored in here.
//  * Feel free to create file for each complex animation but if's something that
//  * take about 10 ~ 20 lines (roughly, not a hard line) try and store it in animations
//  * file. Once created a new file don't forget to add it to the _+animations.scss order.
//  */
// @import "animations/+animations";
// /**
//  * ============================================================
//  */



/**
 * ========== Hard Overrides
 *
 * To override any of the styles above use the space below
 */
html {
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: border-box;

    // @if $debug == flase {
    //     cursor: none !important;
    // }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.emoji {
    font-weight: 100
}

.gws-sc-container {
    font-size: calc((16vw / 1920) * 100);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999999;
    width: px-rem(800);
    border-left: solid px-em(2, 20) black;
    background-color: #fff;
    font-family: "Courier New", Courier, monospace;
    box-shadow: 0 0 1.25em rgba(0, 0, 0, 0.2);
    transition: all 0.6s ease-in-out;


    &.hide {
        transform: translateX(100%);
    }

    .gws-sc-container-inner {
        padding: px-rem(20) px-rem(40);
        max-height: 100vh;
        overflow: scroll;

        .gws-sc-logo {
            display: block;
            font-weight: 700;
            text-align: right;
            font-size: 0.8rem;
        }
    }

    .gws-sc-toggle {
        font-size: px-rem(16);
        position: absolute;
        top: 10%;
        right: 100%; /*20px*/
        padding: px-em(15, 16) px-em(5, 16);
        background-color: black;
        color: white;
        border-radius: 0.5em 0 0 0.5em;
        box-shadow: 0 10px 1.25em rgba(0, 0, 0, 0.2);
        writing-mode: tb;
        text-decoration: none;

        &.hide {
            .ico {
                transform: rotate(180deg) translateX(-.1em);
            }
        }
        
        .ico {
            display: inline-block;
            transition: all 0.3s ease-in-out;
        }
    }

    .gws-sc-form {

        .gws-sc-input-group,
        .gws-sc-input-like {
            .spec-opacity {
                display: block;
                padding: px-rem(20) 0;
            }

            input {
                &[type=number] {
                    -moz-appearance: textfield;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
            }
        }

        .gws-sc-input-group {
            filter: drop-shadow(0 0 px-rem(15) #{darken(#fff, 40)});

            input {
                &[type=range] {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }
            }
        }
        
        .gws-sc-input-like {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: stretch;
            width: 100%;
            padding: px-rem(5) px-rem(20);
            border-radius: 0 px-em(10, 20) 0 0;
            background-color: #fff;
            border: solid px-rem(2) black;
            overflow: hidden;

            &.no-padding {
                padding: 0;
            }

            &.no-border {
                border: none;
            }

            .gws-sc-label {
                border: none;
                border-radius: 0;
                margin: 0;
            }

            .gws-sc-input {
                border: none;
                border-width: px-rem(1);
                border-radius: 0;
            }

            select {
                width: 100%;
                border: none;
            }

            .gws-sc-code-child {
                background-color: black;
                color: white;
                padding: px-em(10, 14);
                font-size: px-rem(14);
                max-width: 100%;
                min-width: 100%;
                min-height: px-rem(200);
            }

            .gws-sc-client-com-note {
                color: red;
                font-weight: 700;
                letter-spacing: px-em(2, 16);
                font-size: px-rem(16);
                line-height: px-em(16, 16);
                margin-top: px-em(10, 16);
            }
        }

        .gws-sc-label {
            display: block;
            width: 50%;
            text-align: center;
            font-weight: 700;

            margin: px-rem(30) 0 0 0;
            padding: 0 px-rem(5);

            border: solid px-em(2, 18) black;
            border-bottom: none;
            border-radius: px-em(20, 18) px-em(20, 18) 0 0;

            font-size: px-rem(18);
            line-height: 1.8em;

            background-color: darken(#fff, 5);

            &.full {
                width: 100%;
            }
        }

        .gws-sc-input {
            width: 100%;
            padding: 0 px-rem(20);
            margin: 0;
            opacity: 0.2;
            border: solid px-em(2, 20) black;
            border-radius: 0 px-em(10, 20) 0 0;
            outline: none;
            -webkit-appearance: none;
            color: black;
            background-color: #fff;
            opacity: 1;
            font-size: px-rem(20);
            line-height: 2em;

            &.spec-y-adjust,
            &.spec-x-adjust {
                width: 100%;
            }

            &.spec-media-width,
            &.spec-media-zoom {
                width: 100%;
            }
        }

        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &::-ms-input-placeholder {
            font-size: 1em; /*20px*/
            line-height: 1.5625em; /*25px*/
            padding: 0 0.625em; /*10px*/
            color: black;
            opacity: 0.2;
        }

        a.gws-button,
        button.gws-button {
            flex: 1;
            // padding: px-em(0, 20); /*10px*/
            border: solid px-em(2, 16) black; /*1px*/
            border-radius: 0 0 0em 0.625em; /*10px*/
            border-left: none;
            border-top: none;
            outline: 0;
            cursor: pointer;

            color: white;
            background-color: black;
            transition: all 0.3s ease-in-out;

            font-size: px-rem(16); /*20px*/
            line-height: px-em(30, 16); /*25px*/
            text-align: center;
            text-decoration: none;
            text-transform: capitalize;
            font-family: "Courier New", Courier, monospace;

            &.red-button {
                background-color: #3b0000;
                border-left: solid 0.0625em white; /*1px*/
                border-radius: 0 0 0.625em 0; /*10px*/

                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}

.gws-sc-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 999999999;
    opacity: 0.2;
    display: flex;
    align-items: flex-end;
    pointer-events: none;
    transform-origin: top;
    
    .image {
        width: 100%;
        margin: 0 auto;
        transform-origin: top;
    }
}

.website-frame {
    width: 100%;
    height: 100%;

}

.website-frame-container {
    width: 100%;
    margin: 0 auto;
    transform-origin: top;
}





body,
html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    position: relative;
}

iframe {
    border: none;
}